html,
body {
    position: relative;
    height:100vh;
    overflow: hidden;
}

body {
    background: linear-gradient( to right,rgba(255,255,255,0.8), rgba(200, 168, 120, 0.5));
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;

}

.swiper {
    width: 100%;
    width: 80%;
    height: 80%;
    margin-top: 5%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;


}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}