html {
    box-sizing: border-box;
    margin: 0;

}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Thin",sans-serif;
    background: linear-gradient( to right,rgba(255,255,255,0.8), rgba(200, 168, 120, 0.5));
}

.logo{
    position: relative;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 100%;
    transition: 1s ease-in-out;
}


.logo:hover ,.login:active{
    transform: rotate(360deg);
}


a {
    display: block;
    max-width: 700px;
    margin: 0 auto 15px auto;
    padding: 15px 20px;
    font-size: 20px;
    color: #000000;
    border: 1px solid rgba(255,255,255,0.8);
    text-align: center;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    z-index: 10;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.6);



}

a:hover {
    color: rgb(53, 119, 140);
    border-radius: 25px;
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
    font-weight: bolder;
}

.wrapper{
    padding: 5px;
    width: 95%;
    margin: 20px ;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Calibri,sans-serif;
    text-align: center;
    color:rgba(200, 168, 120, 0.8);
}


header{
    padding: 0 15px;
    text-align: center;
    font-size: 2rem;
}
.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column{
    flex: 1;
    transition: 0.3s;
    margin: 5px;

}

.column:first-child{
    margin-left: 0;

}



.channels {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
}
.basic{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .columns .column{
        margin-bottom: 5px;
        flex-basis: 100%;
    }
    .columns .column:last-child{
        margin: 0;
        flex-basis: 100%;
    }

    .columns .column:nth-last-child(2){
        margin-right: 0;

    }
}

@media screen and(max-width: 1100px){
    .columns .column{
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}